<h1 class="display-4 text-center">Babys</h1>
<%= link_to 'breastfeeding', breastfeedings_path, class:'btn btn-info'%>
<table class="table table-dark table-bordered w-50 container">
  <tr class="bg-danger">
    <th>nombre</th>
    <th>cantidad de veces que ha tomado</th>
    <th></th>
  </tr>
  <% @babys.each do |b| %>
    <tr>
      <td><%=b.name%></td>
      <td><%=b.breastfeeding.count%></td>
      <td><%=link_to 'show', baby_show_path(b.id)%></td>
    </tr>
  <% end %>
</table>
